:root {
  --bg: #e3acf9;
}
body {
  background-color: var(--bg);
}
.nav-icon a {
  color: black;
}
/* row post */
.row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card {
  display: grid;
  grid-template-rows: 120px 60px 80px 1fr;
  border-radius: 20px 20px 16px 16px;
  background-color: #fff;
  max-width: 450px;
  height: 300px;
}
.card-settings {
  width: 500px;
  height: 200px;
}
.avatar-picture {
  grid-row: 1;
  padding: 20px 24px;
}
.avatar-picture img {
  height: 100%;
  border-radius: 50%;
}
.text-head {
  color: #e3acf9;
  font-size: 15px;
}
.input {
  align-items: flex-end;
  padding-top: 50px;
}
.form-border {
  width: 300px;
  border: none;
  border-bottom: 2px solid #d9d9d9;
}
.icons a {
  justify-content: center;
  align-items: flex-end;
  color: #717171 !important;
}
.icons .post {
  padding: 2px;
  height: 30px;
  width: 100px;
  background-color: #e3acf9 !important;
  color: black;
  font-weight: 600;
}
